.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
:host(.active) {
  background-color: lightgreen;
}
.search {
  width: fit-content;
  border: 15px solid green;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}
.completed {
  background-color: darkorange;
}
